html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

input[type=text] {
    border: #36495b solid 1px;
}

input[type=email] {
    border: #36495b solid 1px;
}

input[type=password] {
    border: #36495b solid 1px;
}

input[type=file] {
    border: #babebf solid 1px;
}

input[type=button] {
    border: #36495b solid 1px;
}

input:focus {
    background-color: transparent;
}

.border-radius {
    border-radius: 25px;
}

.password-submit input {
    border: none;
}

.password-submit input[type=submit] {
    background: url("/images/icons8-pfeil -lang,-rechts-32_white.png");
    border: 0;
    background-color: #2d4e6c;
}

.gradient {
    background: rgb(67, 159, 91);
    background: linear-gradient(90deg, rgb(67, 159, 91) 20%, rgb(160, 202, 171) 80%, rgb(39, 61, 64) 100%);
}

.background-windows {
    background: #00A7F8;
}

.background-ubuntu {
    background: #902D2D;
}