header {
    text-align: center;
}

.icon {
    text-decoration: none;
    text-align: center;
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon a {
    text-decoration: none;
}

.sidenav {
    background-color: #273d40;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #F7F3F6;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #F7F3F6;
    color: #273d40;
}

.btn-sidenav {
    line-height: 40px;
    font-size: 1em;
    border: 1px solid #273d40;
    outline: none;
    background: #273d40;
    color: #F7F3F6;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}

.btn-sidenav:hover {
    background-color: #F7F3F6;
    color: #273d40;
}