doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/basics.css')
    link(rel='stylesheet', href='/stylesheets/users-layout-responsive.css')
    link(rel='stylesheet', href='/stylesheets/users-basics.css')
    link(rel='stylesheet', href='/stylesheets/platforms-layout-responsive.css')
  body
    block content
