div.modal.fade(id="info-modal" tabindex="-1" aria-labelledby="InfoModal" aria-hidden="true")
    div.modal-dialog.modal-dialog-centered
        div.modal-content
            div.modal-header
                h5.modal-title(id="info-msg-header")                
            div.modal-body
                p#info-msg
            div.modal-footer
                button.btn.btn-secondary(data-bs-dismiss="modal") Schließen