extends shared/layout

block content
  header#navbar-fixed
    nav
      a(href="/") Startseite
  header#navbar-hamburger
    div.topnav
      a#hamburger-menu-btn.icon-home(href="/",  type="button") ⌂
  main.form-container.gradient.border-radius
    div.form-field
      img(src="/images/icons8-user-64.png", alt="user")
      h1 Anderer Benutzer
      form(action="", method="post") 
        input(type="text", name="username" value='' placeholder="Benutzername")
        span.password-submit
          input#sign-in(type="password" name="password" value='' placeholder="Passwort")
          input(type="submit" value="")