/* Ensure the size of the image fit the container perfectly */

#cropper-image {
    display: block;
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
    max-height: 400px;
}