/* @media screen and (max-width: 600px) {
    .game-panel {
        width: 155px;
        align-self: center;
    }
    .game-container {
        height: 100%;
        background-color: #edf1f2;
    }
} */