* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

main {
    margin: 1%;
    min-height: 100%;
    min-width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

input[type=text] {
    width: 100%;
    height: 36px;
    margin-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

input[type=email] {
    width: 100%;
    height: 36px;
    margin-bottom: 2%;
    padding: 1%;
}

input[type=password] {
    width: 100%;
    height: 36px;
    margin-bottom: 2%;
    padding: 1%;
}

input[type=file] {
    margin-bottom: 1%;
}

input[type=button] {
    width: 100%;
    height: 36px;
    margin-bottom: 3%;
}

.password-submit {
    display: flex;
}

.password-submit input[type=submit] {
    display: block;
    height: 36px;
    width: 36px;
}

.form-checkbox {
    display: grid;
    grid-template-columns: 50% 20% 30%;
}

.form-checkbox label {
    grid-column-start: 1;
    grid-column-end: 1;
}

.form-checkbox input[type=checkbox] {
    grid-column-start: 2;
    grid-column-end: 2;
}

.form-checkbox input[type=text] {
    grid-column-start: 3;
    grid-column-end: 3;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}