@media screen and (min-width: 600px) {
    .new-game-form {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 600px) {
    .new-game-form {
        margin-left: 5%;
        margin-right: 5%;
    }
}