body {
    max-height: 100%;
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url(/images/background_windows.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.icon {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 2vw;
    text-decoration: none;
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-label {
    font-size: 0.75vw;
    color: black;
    vertical-align: top;
}

#user-icon {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer {
    grid-row-start: 10;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 10;
}

html {
    height: 100%;
}