.form-container {
    display: grid;
}

.reg-form-check {
    margin-top: 20px;
}

.form-field {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 5%;
}

.form-field img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-field h1 {
    margin-bottom: 20px;
}

#sign-in {
    width: 100%;
    height: 36px;
}

#register-btn {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}

#login-img {
    margin-top: 10vh;
}


/*Screen width > 600px*/

@media screen and (min-width: 600px) {
    .form-container {
        grid-template-columns: auto 400px auto;
    }
    #form-container-login {
        min-height: 400px;
        grid-template-rows: 100px auto;
    }
    #form-container-reg {
        min-height: 750px;
        grid-template-rows: 100px auto;
    }
}


/*Screen width < 600px*/

@media screen and (max-width: 600px) {
    .form-container {
        grid-template-columns: auto 300px auto;
    }
    .form-field {
        max-width: 400px;
    }
    .topnav .icon-home {
        color: #F7F3F6;
        background: #273d40;
        border: 0;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        font-size: 1em;
        display: block;
        border-radius: 15px;
        display: block;
        padding: 8px 8px;
        line-height: 30px;
        font-size: 2em;
        z-index: 10000;
        position: fixed;
        top: 2%;
        right: 3%;
        width: 56px;
        height: 56px;
    }
    .topnav .icon-home:hover {
        background-color: #F7F3F6;
        color: #273d40;
        border-radius: 15px;
    }
    #form-container-login {
        min-height: 300px;
        grid-template-rows: 40px auto;
    }
    #form-container-reg {
        min-height: 680px;
        grid-template-rows: 40px auto;
    }
}